<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Angular Test</title>
        <script src="node_modules/angular/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">
        <script src="app.js"></script>
    </head>
    <body>
        <!--Hello World-->
        <div>
            <h1 ng-controller="HelloWorldCtrl">{{message}}</h1>
        </div>
        
        <div>
            <h2 ng-controller="SecondCtrl">{{second_msg}}</h1>
        </div>
        
        <!--Hello You-->
        <br>
        <div ng-init="name='you';">
            <h2>Hello, {{name}}!</h2>
            <div class="ui input">
                <label>Tell me who to say hello to:</label>
                <input type="string" ng-model="name">
            </div>
        </div>
        
        <!--Cost Calculator-->
        <br>
        <div ng-init="qty=1;cost=2">
          <h3>Invoice:</h3>
          <div class="ui input">
            <label>Quantity:</label><input type="number" min="0" ng-model="qty">
          </div></br>
          <div class="ui input">
            Costs: <input type="number" min="0" ng-model="cost">
          </div>
          <div>
            <b>Total:</b> {{qty * cost | currency}}
          </div>
        </div>
        
    </body>
</html>